* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainCanvas {
    width: 800px;
    height: 600px;
    background-color:lightslategray;
    border: 4px solid black;
    position: relative;
}

#startBtn {
    width: 100px;
    height: 60px;
    border: 2px solid black;
    background-color: greenyellow;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: block;
    right:-5%; 
}